Makefile
Makefile.in
aclocal.m4
libtool
.deps
libtool.m4
*.pc
configure
config.log
config.status
autom4te.cache
*.dep
config/*.m4
INSTALL
Makefile.xt
*.af
*.tbl
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
test-driver
*.o
